@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/MyLayout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    STRIPED ROWS
                    <small>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code></small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped table-hover" id="product-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>USERNAME</th>
                            <th>Action</th>
                            <th>No</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul id="custom-pagination" class="pagination pagination-outline-primary">
                        <li class="page-item first">
                            <a class="page-link" href="javascript:void(0);">
                                <i class="tf-icon ri-skip-back-mini-line ri-22px"></i>
                            </a>
                        </li>
                        <li class="page-item prev">
                            <a class="page-link" href="javascript:void(0);">
                                <i class="tf-icon ri-arrow-left-s-line ri-22px"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">2</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">5</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="javascript:void(0);">
                                <i class="tf-icon ri-arrow-right-s-line ri-22px"></i>
                            </a>
                        </li>
                        <li class="page-item last">
                            <a class="page-link" href="javascript:void(0);">
                                <i class="tf-icon ri-skip-forward-mini-line ri-22px"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="~/template/plugins/jquery/jquery.min.js"></script>

<script src="~/template/js/render-pagination.js"></script>
<script>
    let sampleData = [];
    let totalRecords = 0, pageIndex = 1, pageSize = 20;
    
    function fetchData() {
        sampleData = [];
        for (let i = 1; i <= 100; i++) {
            sampleData.push({
                Id: i,
                FirstName: "Employee " + i,
                LastName: "aa",
                Username: "username " + i,
                Username1: "username " + i
            });
        }
        let tbody = $('#product-table tbody');
        tbody.empty();
        for (let i = (pageIndex-1) * pageSize; i < pageSize * (pageIndex-1) + pageSize; i++) {
            tbody.append(renderTableRow(sampleData[i]));
        }

        renderPaginationBSB({
            totalRecords: sampleData.length,
            pageIndex: pageIndex,
            pageSize: pageSize
        }, '#custom-pagination', changePageIndex);
    }

    fetchData();

    function changePageIndex(totalRecords, newPage, pageSize) {
        totalRecords = totalRecords;
        pageIndex = newPage;
        pageSize = pageSize;

        fetchData();
    }

    function renderTableRow(item) {
        console.log(item)
        return `
            <tr>
                <td>
                    <span>${item.Id}</span>
                </td>
                <td>${item.FirstName}</td>
                <td>${item.LastName || ''}</td>
                <td>${item.Username}</td>
                <td>${item.Username1}</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-warning">
                            <i class="ri-pencil-line me-1"></i> Update
                        </button>
                    </div>
                </td>
            </tr>
        `;
    }



</script>