<footer>
    <div class="container footer-content">
        <div class="row content-footer">
            <div class="col-12 col-md-4 boxfooter">
                <a href="/Store/Index">
                    <img src="~/images/img_store/imgFooter/logoo.png" alt="">
                </a>
                <p>Aplle store Việt Nam — mang đến trải nghiệm Apple chính hãng.
                </p>
            </div>
            <div class="col-12 col-md boxfooter">
                <h5>Thông tin</h5>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
            </div>
            <div class="col-12 col-md boxfooter">
                <h5>Chính sách</h5>
                <ul>
                    <li><a href="#">Giao hàng</a></li>
                    <li><a href="#">Đổi trả</a></li>
                    <li><a href="#">Bảo mật</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>