<div class="dropdown-content">
    <div class="dropdown-item">
        <a href="/Store/Category/iPhone" class="main-item"><img src="~/images/img_store/imgHeader/iPhone.avif" alt="iPhone" class="menu-icon">iPhone</a>
    </div>

    <div class="dropdown-item">
        <a href="/Store/Category/iPad" class="main-item"><img src="~/images/img_store/imgHeader/iPad.png" alt="iPad" class="menu-icon">iPad</a>
    </div>

    <div class="dropdown-item">
        <a href="/Store/Category/Mac" class="main-item"><img src="~/images/img_store/imgHeader/mac.png" alt="Mac" class="menu-icon">Mac</a>
    </div>

    <div class="dropdown-item">
        <a href="/Store/Category/Accessory" class="main-item"><img src="~/images/img_store/imgHeader/phukien.png" alt="Phụ kiện" class="menu-icon">Phụ kiện</a>
    </div>

    <div class="dropdown-item">
        <a href="/Store/Category/Watch" class="main-item"><img src="~/images/img_store/imgHeader/watch.jpg" alt="Apple Watch" class="menu-icon">Apple Watch</a>
    </div>

    <a href="/Store/Support"><img src="~/images/img_store/imgHeader/care.png" alt="Care" class="menu-icon">VA.Care</a>
</div>
