<header>
    <div class="nav3">
        <div class="nav-top">
            <div class="nav-top-store">
                <div class="store1">
                    <h4>Shop</h4>
                    <a href="/Store/Index">Shop the Latest</a>
                    <a href="/Store/Index">Mac</a>
                    <a href="/Store/Index">iPad</a>
                    <a href="/Store/Index">iPhone</a>
                    <a href="/Store/Index">Apple Watch</a>
                    <a href="/Store/Index">Accessories</a>
                </div>
                <div class="store2">
                    <h4>Quick Links</h4>
                    <a href="#">Find a Store</a>
                    <a href="#">Order Status</a>
                    <a href="#">Ways To Buy</a>
                </div>
                <div class="store3">
                    <h4>Shop Special Stores</h4>
                    <a href="#">Education</a>
                    <a href="#">Business</a>
                </div>
            </div>
        </div>
        <div class="nav-bottom"></div>
    </div>
    <div class="subnav">
        <i class="ri-close-line"></i>
        <a href="#">Store</a><a href="#">Mac</a><a href="#">iPad</a><a href="#">iPhone</a>
        <a href="#">Watch</a><a href="#">AirPods</a><a href="#">TV & Home</a>
        <a href="#">Entertainment</a><a href="#">Accessories</a><a href="#">Support</a>
    </div>
</header>