
<!-- Foster -->
<!-- End Foster -->
<footer>
    <div class="container footer-content">
        <div class="row content-footer">
            <div class="col-12 col-md-4 boxfooter">
                <a href="~/ViewHome/TrangChu/Index">
                    <img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgFooter/logoo.png" alt="">
                </a>
                <p class="gioithieu">Năm 2020, Apple.Studio trở thành đại lý ủy quyền của Apple. Chúng tôi phát triển chuỗi cửa hàng tiêu chuẩn và Apple Mono Store nhằm mang đến trải nghiệm tốt nhất về sản phẩm và dịch vụ của Apple cho người dùng Việt Nam.</p>
                <div class="tongdai">
                    <span class="gachchan"> Tổng đài hỗ trợ</span>
                    <div class="boxgoimuahang">
                        <a class="goimuahang" href="tel:12345678">
                            <strong>Mua hàng:</strong> <span class="hotline">1234.5678 (08:00 - 22:00)</span>
                        </a>
                        <br>
                        <a class="goimuahang" href="tel:12345679">
                            <strong>Bảo hành:</strong> <span class="hotline">1234.5679 (08:00 - 22:00)</span>
                        </a>
                    </div>
                </div>
                <div class="boxiconmxh">
                    <div class="icon">
                        <a href="#">
                            <img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgFooter/fb.png" alt="fb">
                        </a>
                    </div>
                    <div class="icon">
                        <a href="#">
                            <img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgFooter/tiktok.png" alt="tiktok">
                        </a>
                    </div>
                    <div class="icon">
                        <a href="#">
                            <img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgFooter/zalo.png" alt="zalo">
                        </a>
                    </div>
                    <div class="icon">
                        <a href="#">
                            <img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgFooter/yt.png" alt="youtube">
                        </a>
                    </div>



                </div>

            </div>
            <div class="col-12 col-md boxfooter">
                <h5>Thông Tin</h5>
                <ul>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Check IMEI</a></li>
                    <li><a href="#">Phương thức thanh toán</a></li>
                    <li><a href="#">Thuê điểm bán lẻ</a></li>
                    <li><a href="#">Bảo hành và sửa chữa</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Đánh giá chất lượng, khiếu nại</a></li>
                    <li><a href="#">Tra cứu hóa đơn điện tử</a></li>
                </ul>
            </div>
            <div class="col-12 col-md boxfooter">
                <h5>Chính sách</h5>
                <ul>
                    <li><a href="#">Thu cũ đổi mới</a></li>
                    <li><a href="#">Giao hàng</a></li>
                    <li><a href="#">Giao hàng (ZaloPay)</a></li>
                    <li><a href="#">Hủy giao dịch</a></li>
                    <li><a href="#">Đổi trả</a></li>
                    <li><a href="#">Bảo hành</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="#">Giải quyết khiếu nại</a></li>
                    <li><a href="#">Bảo mật thông tin</a></li>
                    <li><a href="#">Hướng dẫn thanh toán qua VNPAY</a></li>
                </ul>

            </div>
            <div class="col-12 col-md boxfooter">
                <h5>Địa chỉ và liên hệ</h5>
                <ul>
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Đơn đặt hàng</a></li>
                    <li><a href="#">Hệ thống cửa hàng</a></li>
                    <li><a href="#">Tìm Store trên Google Map</a></li>
                    <li><a href="tel:0822688668">Doanh nghiệp: <span style="color: cornflowerblue;">0822.688.668</span> </a></li>
                    <li><a href="#">Bán hàng doanh nghiệp</a></li>
                </ul>

            </div>
        </div>

    </div>
</footer>