
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Section-five  -->
<div class="section-five">
    <h2>Vì sao VA.Studio là nơi tốt nhất để mua iPhone.</h2>
    <div class="container">
        <div class="row">
            <div class="cards col-3">
                <div class="icon">
                    <i class="fa-brands fa-cc-apple-pay"></i>
                </div>
                <div class="title">
                    <h5>Thanh toán hàng tháng thật dễ dàng</h5>
                </div>
                <div class="sub-title">
                    Bao gồm lựa chọn lãi suất 0%.
                </div>
            </div>
            <div class="cards col-3">
                <div class="icon">
                    <i class="fa-solid fa-piggy-bank"></i>
                </div>
                <div class="title">
                    <h5>Tiết kiệm với VA Trade In.</h5>
                </div>
                <div class="sub-title">
                    Nhận 1.100.000₫
                    - 22.600.000₫ dưới
                    hình thức điểm tín dụng khi bạn trao
                    đổi iPhone 8 Plus trở lên.
                </div>
            </div>
            <div class="cards col-3">
                <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="title">
                    <h5>Giao hàng miễn phí.</h5>
                </div>
                <div class="sub-title">
                    Giao hàng miễn phí thẳng đến tận nhà.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cards col-3">
                <div class="icon">
                    <i class="fa-brands fa-rocketchat"></i>
                </div>
                <div class="title">
                    <h5>
                        Mua sắm trực tiếp với
                        Chuyên Gia trực tuyến.
                    </h5>
                </div>
                <div class="sub-title">
                    Chọn iPad mới cho bạn với sự hỗ
                    trợ từ Chuyên Gia trực tuyến
                </div>
            </div>
            <div class="cards col-3">
                <div class="icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="title">
                    <h5>
                        Khám phá trải nghiệm
                        mua sắm được thiết
                        kế dành riêng cho bạn.
                    </h5>
                </div>
                <div class="sub-title">
                    Khi bạn mua sắm trong Web VA Studio.
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section-five  -->
<!-- See more products -->
<div class="section-six text-center my-4">
    <h2>Xem thêm các sản phẩm khác</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="icons col-md-2 col-4 mb-3">
                <a href="~/ViewHome/TrangChu/ListMac">
                    <img width="100" height="100" src="~/2024_BTLWeb_Group1/NguyenTheSon_232631049/imgPhone/mac.jpg" alt="Mac">
                    <h6>Mac</h6>
                </a>
            </div>
            <div class="icons col-md-2 col-4 mb-3">
                <a href="~/ViewHome/TrangChu/ListIpad">
                    <img width="100" height="100" src="~/2024_BTLWeb_Group1/NguyenTheSon_232631049/imgPhone/ipad.jpg" alt="iPad">
                    <h6>iPad</h6>
                </a>
            </div>
            <div class="icons col-md-2 col-4 mb-3">
                <a href="~/ViewHome/TrangChu/ListAppleWatch">
                    <img width="100" height="100" src="~/2024_BTLWeb_Group1/NguyenTheSon_232631049/imgPhone/watch.jpg" alt="Watch">
                    <h6>Watch</h6>
                </a>
            </div>
            <div class="icons col-md-2 col-4 mb-3">
                <a href="~/ViewHome/TrangChu/ListIphone">
                    <img width="100" height="100" src="~/2024_BTLWeb_Group1/NguyenTheSon_232631049/imgPhone/ip.jpg" alt="iPhone">
                    <h6>iPhone</h6>
                </a>
            </div>
            <div class="icons col-md-2 col-4 mb-3">
                <a href="~/ViewHome/TrangChu/ListAccessory">
                    <img width="100" height="100" src="~/2024_BTLWeb_Group1/NguyenTheSon_232631049/imgPhone/airpod.jpg" alt="Airpod">
                    <h6>Accessory</h6>
                </a>
            </div>
        </div>
    </div>
</div>

<!--End See more products -->