<header>
    <div class="headercontent">
        <div class="logovastudio">
            <a href="~/ViewHome/TrangChu/Index">
                <img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgHeader/logoo.png" alt="">
            </a>
        </div>


        <div class="danhmuc">
            <span>Danh mục <i class="arrow-down"></i></span>
            <div class="dropdown-content">
                <div class="">
                    <a href="~/ViewHome/TrangChu/ListIphone" class="main-item"><img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgHeader/iphone.jpg" alt="iPhone" class="menu-icon">iPhone</a>
                </div>
                <div class="">
                    <a href="~/ViewHome/TrangChu/ListIpad" class="main-item"><img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgHeader/iPad.png" alt="iPad" class="menu-icon">iPad</a>
                </div>
                <div class="">
                    <a href="~/ViewHome/TrangChu/ListMac" class="main-item"><img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgHeader/mac.png" alt="Mac" class="menu-icon">Mac</a>
                </div>
                <div class="">
                    <a href="~/ViewHome/TrangChu/ListAppleWatch" class="main-item"><img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgHeader/watch.jpg" alt="AppleWatch" class="menu-icon">Apple Watch</a>
                </div>
                <div class="">
                    <a href="~/ViewHome/TrangChu/ListAccessory" class="main-item"><img src="~/2024_BTLWeb_Group1/Nguyen_Duy_Kien_232631018/img/imgHeader/phukien.png" alt="Phukien" class="menu-icon">Phụ kiện</a>
                </div>
            </div>
        </div>

        <div class="timkiem">
            <a id="searchPopup">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </a>
            <input type="text" id="searchInput" name="keyWord" placeholder="  Bạn đang tìm sản phẩm, tin tức, workshop..." />
        </div>

        <script>
            const input = document.getElementById("searchInput");
            const icon = document.getElementById("searchPopup");

            // 1️⃣ Khi nhấn Enter
            input.addEventListener("keypress", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault(); // tránh reload mặc định
                    searchNow();
                }
            });

            // 2️⃣ Khi click vào icon kính lúp
            icon.addEventListener("click", function () {
                searchNow();
            });

            // 3️⃣ Hàm xử lý chuyển hướng URL
            function searchNow() {
                const keyword = input.value.trim();
                if (keyword) {
                    const newUrl = window.location.pathname + "?keyWord=" + encodeURIComponent(keyword);
                    window.location.href = newUrl; // reload lại trang với param mới
                }
            }
        </script>


        <a class="giohang" asp-area="Cart" asp-controller="Cart" asp-action="Index">
            <i class="giohangicon fa-solid fa-cart-shopping cart-icon"></i>
            <span>Giỏ hàng</span>
        </a>
        @* Hân làm vào đây User *@
        <div class="danhmuc dropdown">
            <a class="dropdown-toggle text-light text-decoration-none" href="#" id="userDropdown"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user me-1"></i> User
            </a>

            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Users" asp-controller="User" asp-action="Profile">
                        <i class="fa-solid fa-user-gear me-1"></i> Cài đặt tài khoản
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Users" asp-controller="OrderUser" asp-action="Index">
                        <i class="fa-solid fa-box me-1"></i> Đơn hàng của tôi
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" asp-area="Identity" asp-controller="Logout" asp-action="Index">
                        <i class="fa-solid fa-right-from-bracket me-1"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>